@media (min-width: 1280px) {
  .meeting:hover {
  	background-color: #98A9B9;
  	z-index: 1000;
  }
  .meeting:active {
  	background-color: #8594a2;
  }
  .meeting_state_current {
    cursor: pointer;
    background-color: #8594a2;
  }
}