@media (min-width: 1280px) {
	.button { 
		font-size: 13px;
		line-height: 16px;
		cursor: pointer;
	}
	.button_size_md {
		height: 36px; 
		padding: 10px 16px;
	}
	.button_theme_normal:hover {
		background-color: #dde0e3;
	}
	.button_theme_normal:active {
		background-color: #c8cdd3;
	}
	.button_theme_normal:disabled {
		background-color: #e2e5e8;
	}
	.button_theme_active {
		background-color: #007dff;
		color: #fff;
	}
	.button_theme_active:hover {
		background-color: #0059ff;
	}
	.button_theme_active:active {
		background-color: #0011fe;
	}
	.button_touch_hide {
	  display: inline-block;
	}
}
