@media (min-width: 1280px) {
	.input_theme_normal .input__control:focus {
		border: 2px solid #007DFF;
	}
	.input_theme_normal:hover .input__control {
		border: 2px solid #007DFF;
	}
	.input_theme_normal:hover .input__control::placeholder {
		font-size: 0;
	}
	.input_theme_normal .input__control:focus + .input__clear {
		opacity: 1;
	}
	.input_theme_normal:hover .input__clear {
		opacity: 1;
	}
	.input_size_md .input__control {
		height: 38px;
		font-size: 13px;
		line-height: 15px;
	}
	.input_actions_true .input__control {
		padding-right: 38px;
	}
	.input_size_md .input__clear {
		width: 34px;
		height: 34px;
	}

	.input_size_md .input__chose-date {
		width: 34px;
		height: 34px;
	}
}