.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 49px;
  border-bottom: 1px solid #E9ECEF;
}

.header__new-meeting-btn {
  display: none;
}

.logo {
  display: inline-block;
  width: 150px;
  height: 22px;
  background-image: url("images/logo.svg");
  text-decoration: none;
}

.logo__text {
  display: block;
  width: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.button_size_md {
  height: 44px;
  padding: 13px 24px;
}

.button_theme_normal {
  background-color: #e9ecef;
  color: #000;
}

.button_theme_normal:active {
  background-color: #DDE0E4;
}

.button_theme_normal:disabled {
  background-color: #E9ECEF;
  color: rgba(0, 0, 0 , .2);
}

.button_theme_active {
  background-color: #007dff;
  color: #fff;
}

.button_theme_active:active {
  background-color: #0059FF;
}

.button_theme_active:disabled {
  background-color: #e9ecef;
  color: rgba(0, 0, 0 , .2);
}

.button_touch_hide {
  display: none;
}

.app {
  width: 100%;
  height: calc(100vh - 49px);
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  scroll-behavior: smooth;
}

.app__header {
  width: 100%;
}

.app__date-control {
  padding: 0 16px;
  width: 100vw;
  height: 57px;
  border-bottom: 1px solid #E9ECEF;
  position: fixed;
  top: 49px;
  left: 0;
}

.app__time {
  padding-top: 57px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 1280px;
  height: 89px;
  background-color: #fff;
  border-bottom: 1px solid #E9ECEF;
}

.app__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 89px);
  width: 100%;
  min-width: 1280px;
  overflow-y: auto;
  background-color: #F6F7F9;
  margin-top: 89px;
}

.app__aside {
  width: 181px;
  height: 100%;
}

.app__timegrid,
.app__timeline {
  width: calc(100% - 181px);
  min-width: 1099px;
}

.app__timegrid {
  height: 100%;
  background-color: #F6F7F9;
}

.app__rooms {
  border-right: 1px solid #E9ECEF;
}

.app__timeline .timegrid__column,
.app__timeline .timegrid__column:first-of-type {
  border: none;
}

.app__content {
  min-width: 1280px;
  width: 100%;
  height: calc(100% - 89px);
  margin-top: 89px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.date-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-control__date {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-weight: 500;
}

.date-control__date_state_active {
  color: #0070E0;
}

.circle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 100%;
  overflow: hidden;
}

.circle-button_size_md {
  height: 24px;
  width: 24px;
}

.circle-button_size_lg {
  width: 32px;
  height: 32px;
}

.circle-button__icon {
  margin: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.circle-button_theme_normal {
  background-color: #e9ecef;
}

.circle-button_theme_normal .circle-button__icon {
  opacity: .43;
}

.circle-button_theme_normal:active .circle-button__icon {
  opacity: 1;
}

.circle-button_touch_false {
  display: none;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon_type_close {
  background-image: url("images/icon_type_close.svg");
}

.icon_type_close-white {
  background-image: url("images/icon_type_close-white.svg");
}

.icon_type_edit {
  background-image: url("images/icon_type_edit.svg");
}

.icon_type_calendar {
  background-image: url("images/icon_type_calendar.svg");
}

.icon_type_arrow-left {
  background-image: url("images/icon_type_arrow.svg");
}

.icon_type_arrow-right {
  background-image: url("images/icon_type_arrow.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon_type_arrow-up {
  background-image: url("images/icon_type_arrow.svg");
  -webkit-transform: rotate(-90deg) scale(1);
          transform: rotate(-90deg) scale(1);
}

.icon_type_plus {
  background-image: url("images/icon_type_close-white.svg");
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon_type_girl-close {
  background-size: cover;
  background-image: url("images/icon_type_girl-close.svg");
}

.icon_type_party {
  background-size: cover;
  background-image: url("images/icon_type_party.svg");
}

.timegrid__offset-left {
  width: 4.822565969062784%;
  min-width: 53px;
  height: 1;
}

.timegrid__offset-right {
  width: 5.004549590536851%;
  min-width: 55px;
  height: 1;
}

.timegrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timegrid__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90.0818926296%;
  min-width: 990px;
  height: 100%;
}

.timegrid__column {
  position: relative;
  height: 100%;
  min-width: 66px;
  width: 6.6666666666666%;
  border-right: 1px solid rgba(19, 100, 205, .1);
}

.timegrid__column:first-of-type {
  min-width: 67px;
  width: calc(6.6666666666666% + 1px);
  border-left: 1px solid rgba(19, 100, 205, .1);
}

.timegrid__column:last-of-type {
  min-width: 0;
  width: 0;
  border-right: none;
}

.timegrid__column.timegrid__column_border_false {
  border: none;
}

.timegrid__time {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: .4px;
  color: #252525;
  cursor: default;
}

.timegrid__time_past_true {
  color: #858E98;
}

.timegrid__current-time {
  position: absolute;
  top: 50%;
  z-index: 1000001;
  left: 21%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 49px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #007DFF;
  border-radius: 100px;
  cursor: default;
}

.timegrid__current-time:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1000001;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 1px;
  height: calc(100vh - 101px);
  background-color: #007DFF;
}

.floor {
  width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.floor__title {
  padding-left: 16px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #858E98;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.floor__room {
  margin: 0 0 2px;
}

.floor__room:last-child {
  margin-bottom: 0;
}

.floor__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.floor__shortcut-title {
  padding-left: 4px;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.floor__header-aside {
  width: 181px;
  height: 37px;
  background-color: #F6F7F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.floor__header-timegrid {
  height: 13px;
  margin-bottom: 8px;
  width: calc(100% - 181px);
}

.room-row {
  min-width: 1280px;
  width: 100vw;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room-row__aside {
  height: 100%;
  width: 181px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.room-row__title {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  line-height: 17px;
  margin-bottom: 2px;
  overflow: hidden;
  max-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-row__people-count {
  font-size: 13px;
  color: #000;
  line-height: 17px;
}

.room-row__timegrid {
  height: 28px;
  background-color: transparent;
}

.room-row_state_active .room-row__title {
  color: #0070E0;
}

.room-row_state_full .room-row__title,
.room-row_state_full .room-row__people-count {
  color: #858E98;
}

.room-row__timegrid-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room-row__meetings {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-row__main {
  background-color: #D5DFE9;
  width: calc(100% - 181px);
  height: 100%;
  position: relative;
}

.room-row__shortcut-title {
  height: 24px;
  padding: 5px 8px;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  color: #262626;
  letter-spacing: 0.4px;
}

.room-row_state_full .room-row__shortcut-title {
  color: #858E98;
}

.room-row__timegrid_layer_1,
.room-row__timegrid_layer_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.room-row__timegrid_layer_1 {
  z-index: 10;
}

.room-row__timegrid_layer_1 .timegrid__column {
  z-index: 1;
}

.room-row__timegrid_layer_2 {
  z-index: 100;
}

.room-row__timegrid_layer_2:hover {
  opacity: 1;
}

.room-row__timegrid_layer_2 .meeting,
.room-row__timegrid_layer_2 .free-time-range {
  opacity: 0;
}

.room-row__timegrid_layer_2 .meeting:active,
.room-row__timegrid_layer_2 .free-time-range:active {
  opacity: 1;
}

.room-row__meeting-back {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meeting {
  height: 100%;
  background-color: #D5DFE9;
  position: relative;
}

.meeting:active,
.meeting_state_current {
  background-color: #98A9B9;
}

.free-time-range {
  height: 100%;
  background-color: #fff;
}

.free-time-range__add {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 0;
  background-color: #2B50FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.free-time-range__add:active {
  background-color: #005CFF;
}

.free-time-range__plus-icon {
  display: none;
}

.tooltip {
  position: absolute;
  z-index: 1000000;
  height: 130px;
  width: 100vw;
  padding: 16px;
  background: #fff;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
  border-radius: 8px;
}

.tooltip_visible_true {
  display: block;
}

.tooltip:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  border-style: solid;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #fff transparent;
}

.tooltip_pos_bottom {
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.tooltip__edit {
  position: absolute;
  top: 16px;
  right: 16px;
}

.tooltip__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 34px);
  text-overflow: ellipsis;
}

.tooltip__info {
  margin: 8px 0 16px;
  font-size: 15px;
  color: #000;
  line-height: 17px;
}







.tooltip__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.tooltip__people-count {
  color: #89919b;
  font-size: 15px;
  line-height: 17px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.person__avatar-img {
  width: 100%;
}

.person__name {
  margin-left: 8px;
  font-size: 15px;
  line-height: 17px;
}

.person_size_sm .person__avatar {
  width: 24px;
  height: 24px;
}

.person_size_sm .person__name {
  font-size: 13px;
  line-height: 15px;
}

.calendar {
  padding: 16px 11px;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar__day,
.calendar__day-name,
.calendar__time-name {
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #444;
  font-size: 12px;
  margin: 1px;
  border-radius: 0;
  text-align: center;
}

.calendar__day-names,
.calendar__week {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar__month {
  padding: 0 5px;
}

.calendar__day:hover {
  background-color: #f2f2f2;
  color: #444;
  border-radius: 0;
}

.calendar__month-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 6px;
  text-align: center;
}

.calendar__day {
  font-weight: 600;
}

.calendar__day_today_true {
  border-radius: 100%;
  background-color: #0070e0;
  color: #fff;
}

.calendar__day_today_true:hover {
  border-radius: 100%;
  background-color: #0070e0;
  color: #fff;
}

.calendar__day_selected_true {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 700;
}

.calendar__day_outside-month_true {
  color: #aaa;
}

.calendar__navigation {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  width: 24px;
  height: 24px;
  z-index: 1;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .55;
}

.calendar__navigation_type_prev {
  left: 10px;
  border-right-color: none;
  background-image: url("images/icon_type_arrow.svg");
}

.calendar__navigation_type_next {
  right: 10px;
  border-right-color: none;
  background-image: url("images/icon_type_arrow.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1280px) {
  .header {
    padding: 0 24px;
    height: 71px;
  }
}

@media (min-width: 1280px) {
  .logo {
    width: 175px;
    height: 26px;
    background-image: url("images/logo@desktop.svg");
  }
}

@media (min-width: 1280px) {
  .button {
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
  }

  .button_size_md {
    height: 36px;
    padding: 10px 16px;
  }

  .button_theme_normal:hover {
    background-color: #dde0e3;
  }

  .button_theme_normal:active {
    background-color: #c8cdd3;
  }

  .button_theme_normal:disabled {
    background-color: #e2e5e8;
  }

  .button_theme_active {
    background-color: #007dff;
    color: #fff;
  }

  .button_theme_active:hover {
    background-color: #0059ff;
  }

  .button_theme_active:active {
    background-color: #0011fe;
  }

  .button_touch_hide {
    display: inline-block;
  }
}

@media (min-width: 1280px) {
  .app {
    height: calc(100vh - 71px);
  }

  .app__date-control {
    padding: 0 24px;
    width: 100%;
    height: 100%;
    border-bottom: none;
    position: static;
    top: 0;
    left: 0;
  }

  .app__time {
    padding-top: 0;
    height: 41px;
  }

  .app__body {
    height: calc(100% - 41px);
    margin-top: 41px;
    background-color: #fff;
  }

  .app__aside {
    width: 245px;
  }

  .app__timegrid,
  .app__timeline {
    width: calc(100% - 245px);
    min-width: 1035px;
  }

  .app::-webkit-scrollbar {
    width: 16px;
  }

  .app::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .app::-webkit-scrollbar-thumb {
    width: 8px;
    background-clip: content-box;
    border-radius: 100px;
    border: 4px solid #fff;
    background-color: #d5dfe9;
  }

  .app__content {
    height: calc(100% - 41px);
    margin-top: 41px;
  }
}

@media (min-width: 1280px) {

}

@media (min-width: 1280px) {
  .circle-button_size_lg,
  .circle-button_size_md {
    height: 24px;
    width: 24px;
  }

  .circle-button__icon {
    width: 22px;
    height: 22px;
  }

  .circle-button_theme_normal {
    background-color: #e9ecef;
  }

  .circle-button_theme_normal .circle-button__icon {
    opacity: .43;
  }

  .circle-button_theme_normal:hover .circle-button__icon {
    opacity: 1;
  }

  .circle-button_touch_false {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1280px) {
  .icon_type_close {
    background-image: url("images/icon_type_close@desktop.svg");
  }

  .icon_type_close-white {
    background-image: url("images/icon_type_close-white@desktop.svg");
  }

  .icon_type_edit {
    background-image: url("images/icon_type_edit@desktop.svg");
  }

  .icon_type_calendar {
    background-image: url("images/icon_type_calendar@desktop.svg");
  }

  .icon_type_arrow-right {
    background-image: url("images/icon_type_arrow@desktop.svg");
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  .icon_type_arrow-left {
    background-image: url("images/icon_type_arrow@desktop.svg");
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .icon_type_arrow-up {
    background-image: url("images/icon_type_arrow@desktop.svg");
    -webkit-transform: rotate(-90deg) scale(1);
            transform: rotate(-90deg) scale(1);
  }

  .icon_type_plus {
    background-image: url("images/icon_type_close-white@desktop.svg");
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .icon_type_girl-close {
    background-size: cover;
    background-image: url("images/icon_type_girl-close.svg");
  }

  .icon_type_party {
    background-size: cover;
    background-image: url("images/icon_type_party.svg");
  }
}

@media (min-width: 1280px) {
  .timegrid__offset-left {
    width: 2.1256038647342%;
    min-width: 22px;
  }

  .timegrid__offset-right {
    width: 2.1256038647342%;
    min-width: 22px;
  }

  .timegrid__body {
    width: 95.6521739130%;
  }

  .timegrid__column {
    min-width: 66px;
    width: 6.6666666666666%;
  }

  .timegrid__current-time {
    top: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

@media (min-width: 1280px) {
  .floor {
    margin-top: 20px;
  }

  .floor__title {
    padding-left: 25px;
    margin-bottom: 0;
  }

  .floor__room {
    margin: 4px 0 8px;
  }



  .floor__header-aside {
    height: 13px;
    width: 245px;
    background-color: #fff;
    border-right: 1px solid #E9ECEF;
  }

  .floor__header-timegrid {
    height: 13px;
    margin-bottom: 2px;
    width: calc(100% - 245px);
  }
}

@media (min-width: 1280px) {
  .room-row {
    height: 44px;
  }

  .room-row__aside {
    width: 245px;
    padding-left: 25px;
    border-right: 1px solid #E9ECEF;
  }

  .room-row__title {
    max-width: 200px;
  }

  .room-row__main {
    width: calc(100% - 245px);
    height: 28px;
  }

  .room-row__shortcut-title {
    color: #858E98;
    letter-spacing: 0.4px;
  }

  .room-row__timegrid_layer_1,
  .room-row__timegrid_layer_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .room-row__timegrid_layer_2:hover {
    opacity: 1;
  }

  .room-row__timegrid_layer_2 .meeting,
  .room-row__timegrid_layer_2 .free-time-range {
    opacity: 0;
  }

  .room-row__timegrid_layer_2 .meeting:hover,
  .room-row__timegrid_layer_2 .free-time-range:hover {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .meeting:hover {
    background-color: #98A9B9;
    z-index: 1000;
  }

  .meeting:active {
    background-color: #8594a2;
  }

  .meeting_state_current {
    cursor: pointer;
    background-color: #8594a2;
  }
}

@media (min-width: 1280px) {
  .free-time-range__add {
    max-width: 57px;
    border-radius: 2px;
  }

  .free-time-range__add:active {
    background-color: #1D00FE;
  }

  .free-time-range__plus-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .tooltip {
    height: 113px;
    width: 338px;
  }

  .tooltip__edit {
    top: 8px;
    right: 8px;
  }

  .tooltip__title {
    font-size: 15px;
    line-height: 24px;
  }

  .tooltip__info {
    margin: 0 0 16px;
    font-size: 13px;
    line-height: 17px;
  }









  .tooltip__people-count {
    font-size: 13px;
    line-height: 17px;
  }
}

@media (min-width: 1280px) {
  .person__avatar,
  .person_size_sm .person__avatar {
    width: 24px;
    height: 24px;
  }

  .person__name,
  .person_size_sm .person__name {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (min-width: 1280px) {
  .calendar__day,
  .calendar__day-name,
  .calendar__time-name {
    width: 24px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    margin: 1px;
  }
}