.button { 
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}
.button_size_md {
	height: 44px; 
	padding: 13px 24px;
}
.button_theme_normal {
	background-color:  #e9ecef;
	color: #000;
}
.button_theme_normal:active {
	background-color: #DDE0E4;
}
.button_theme_normal:disabled {
	background-color: #E9ECEF;
	color: rgba(0, 0, 0 , .2);
}
.button_theme_active {
	background-color: #007dff;
	color: #fff;
}
.button_theme_active:active {
	background-color: #0059FF;
}
.button_theme_active:disabled {
	background-color: #e9ecef;
	color: rgba(0, 0, 0 , .2);
}
.button_touch_hide {
  display: none;
}